* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #FFFFFF;
  color: #000000;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
